*{
font-family: sans-serif;
width: 100%;
margin: 0 auto;
box-sizing: border-box;
}

body{
background-color: #000000;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
overflow-y: hidden;
overflow-x: hidden;
}

.logo{
    max-width: 500px;
    margin-bottom: 30px;
    background: #000000dc;
}

.container-input{
    max-width: 480px;
    margin-bottom: 14px 0;
}

.container-input span{
    color: #FFF;
    font-size: 22px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background-color: #DFDFDF;
    height: 18px;
    outline: none;
    margin-top: 8px;
    opacity: 0.7;
    }

    .button-cta{
        height: 40px;
        background-color: #127204;
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 40px;
        margin-bottom: 30px;
        color: #FFF;
        font-weight: bold;
        font-size: 20px;
    }

    .container-password{
        max-width: 480px;
        margin: 14px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .title{
        text-align: center;
        color: #FFF;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 8px;
        padding-right: 50px;

    }


    .password{
        height: 60px;
        background-color: rgba(0,0,0, 0.40);
        border-radius: 4px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        border: 1px solid #313131;
        transition: transform 0.5s;
        cursor: pointer;
    }

    .password:hover{
        transform: scale(1.05);
        border-color: #FFF;
    }
       
    .hide{
        display: none;
    }

    .container-password:hover {
        visibility: visible;
        bottom: 50px;
        opacity: 1;
    }